body {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("../images/milky-way-darken.png");
}

p {
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0px 0px 6px 6px #c91a8f;
    font-weight: bold;
}

h3 {
  color: #534949;
  border-color: #534949;
  border-bottom: #534949;
  border-bottom-style: solid;
}

hr {
  color: #534949;
}

footer {
  display: block;
  text-align: center;
  color:whitesmoke;
  background: rgb(6, 58, 58);
  opacity: 50%;
  padding: 15px;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: black;
}

.bio {
  float:right;
  margin-top: 20px;
}

.card:hover {
  box-shadow: 0px 0px 6px 6px cadetblue;
}

.container {
  margin: 5%;
}

/* Add some content at the bottom of the video/page */
.content {
  margin: auto;
  left: 20%;
  position: fixed;
  text-align: center;
  bottom: 45%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 50%;
  color: #f1f1f1;
  width: 60%;
  padding: 20px;
  display: inline-block;
}

.detail-label {
  font-size: small;
}

.hidden {
  display: none;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../images/supernova.png"); 
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 20px;
  }

  .name {
    font-size: 40px;
  }

  .navbar-light .navbar-nav .menu-item {
    padding-left: 10px;
    color:#ababab;
  }

  /* Styles the button used to pause/play the video */
  #pauseBtn {
    width: 70px;
    position: fixed;
    display: inline-block;
    top: 12%;
    font-size: 14px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #pauseBtn:hover {
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    opacity: 60%;
    text-shadow: 0px 0px 6px 6px cadetblue;
  }

  .photos {
    display: inline;
    opacity: 50%;
    padding-top: 10px;
    position: relative;
  }
  
  #photo-eye {
    height: 340px;
  }

  #photo-cole {
    height: 385px;
  }

  #photo-jack {
    height: 410px;
  }

  .port-image {
    height: 100px%;
    width: auto;
    position: relative;
    padding:10px;
    align:center;
    float:none;
    margin-bottom:50px;
  }

  .port-label {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 60%;
    text-align:center;
    width: 90%;
    font-style: bold;
    color: white;
    font-size: 18px;
    background-color: rgb(89,170,165);
    padding: 10px;
}

  /*puts head shot in a circle*/
  .profile-pic {
    position: relative;
    display: block;
    padding: 20px;
    float: inline-start;
    height: 30px;
  }